@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-image: url("hero-image.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    color: #fff;
    text-align: center;
    padding: 100px;
}

.about-me,
.portfolio,
.contact {
    padding: 80px;
}